

<h1>Sign In</h1>

<% if !Current.user %>
    <%= form_with url: new_sign_in_path do |form| %>

            <div id="field_container">
                <%= form.label :email %>
                <%= form.text_field :email, placeholder: "user@email.com" %>
            </div>

            <div id="field_container">
                <%= form.label :password %>
                <%= form.password_field :password, placeholder: "password" %>
            </div>

            <div id="submit_button" >
                <%= form.submit "Sign In"%>
            </div>

                <p><%= alert %></p>
    <% end %>

<% else %>
    <div id="sign_with_current_user">
        <h2> You are already signed in. Go back to your  <span id="dashboard_link"><%= link_to "dashboard", categories_path %></span></h2>
    </div>
<% end %>