<h1>Signup</h1>

<%= form_with model: @user, url: registrations_path do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Juan Cruz" %>
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "user@email.com" %>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "password" %>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, placeholder: "password confirmation" %>
    <%= form.submit "Sign Up" %>

    <% if @user.errors.any? %>
        <div style="color: red" class="errors_container">
        <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved
        </h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
<% end %>
