<h1>Signup</h1>

<div id="sign-up-form-container">
    <%= form_with model: @user, url: registrations_path do |form| %>
        <div id="field-container">
            <%= form.label :name %>
            <%= form.text_field :name, placeholder: "Juan Cruz" %>
        </div>
        <div id="field-container">
            <%= form.label :email %>
            <%= form.text_field :email, placeholder: "user@email.com" %>
        </div>
        <div id="field-container">
            <%= form.label :password %>
            <%= form.password_field :password_digest, placeholder: "password" %>
        </div>
        <div id="field-container">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, placeholder: "password confirmation" %>
        </div>
        
        <div id="submit-button" >
            <%= form.submit "Sign Up"%>
        </div>

        <% if @user.errors.any? %>
            <div id="errors-container-register">
            <strong>
                <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved
            </strong>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>
    <% end %>
</div>
