<%= form_with(model: @category) do |form| %>
    <div>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "category" %>
    </div>
    
    <div id="submit_button" >
        <%= form.submit%>
    </div>

    <% if @category.errors.any? %>
        <div id="errors_container_new_category">
            <ul>
                <% @category.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

   
<% end %>