<p><%= notice %></p>
<p><%= alert %></p>

<h1>CATEGORIES</h1>

<div id="categories_container">
    <%= link_to new_category_path, :id => "link_to_new_category" do %>
        <i class="fa-solid fa-plus"></i>
    <% end %>

    <% @categories.reverse.each do |category| %>
        <div id="each_category_container">
            <div id="category_card_name">
                <%= link_to category do %>
                    <%= category.name.upcase %>
                <% end %>
            </div>
            <% if category.tasks %>
                <% category.tasks.reverse.each do |task| %>
                    <div id="task_in_card" class="list_in_card" >
                        <%= link_to task_path(category, task) do %>
                            <%= task.name.downcase %>
                        <% end %>
                    </div>  
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>