<p><%= notice %></p>
<p><%= alert %></p>

<h1>CATEGORIES</h1>

<div id="categories_container">
    <%= link_to new_category_path, :id => "link_to_new_category" do %>
        <i class="fa-solid fa-plus"></i>
    <% end %>

    <% @categories.reverse.each do |category| %>
        <div id="each_category_container">
            <div id="category_card_name">
                <%= link_to category do %>
                    <%= category.name.upcase %>
                <% end %>
            </div>
            <div id="add_task_in_card">
                <span><%= link_to "New Task", root_path, :class => "nav_link" %> </span>
            </div>
            <div id="task_in_card">
                <%= link_to category do %>
                    <%= category.name.downcase %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>