
<%= link_to categories_path, :id => "back_button" do %>
    <div>
        <i class="fa-solid fa-arrow-left"></i>
        <span>Back to categories </span>
    </div>
<% end %>

<%= link_to edit_category_path(@category), :id => "edit_category_link" do %>
    <span><%= @category.name %></span>
    <i class="fa-solid fa-pencil"></i>
<% end %>

<div id="task_index_container">
    <% @tasks.reverse.each do |task| %>
        <%= task.name.downcase %>
    <% end %>
    <span>task</span>
</div>

<%= link_to @category, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@category.name}?" }, :id => "delete_category_link" do %>
    <i class="fa-regular fa-trash-can"></i>
<% end %>

