
<%= link_to "Back to categories", categories_path, :id => "back_to_categories_link" %>

<%= link_to edit_category_path(@category) do %>
    <h1><%= @category.name %></h1>
<% end %>
<span><%= @category.created_at.to_s.split(" ")[0] %></span>

<%= link_to "Delete category", @category, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@category.name}?" } %>


