<%= link_to categories_path, :id => "back_button" do %>
    <div>
        <i class="fa-solid fa-arrow-left"></i>
        <span>Back to categories </span>
    </div>
<% end %>

<%= link_to edit_category_path(@category), :id => "edit_category_link" do %>
    <span><%= @category.name %></span>
    <i class="fa-solid fa-pencil"></i>
<% end %>

<div id="task_index_container">
    <div id="category_card_name">
    <%= link_to new_task_path(@category) do %>
        <span>NEW TASK</span>
    <% end %>
    </div>
        <% if @category.tasks %>
            <% @category.tasks.reverse.each do |task| %>
                <div id="task_in_card" class="list_in_card" >
                    <%= link_to task do %>
                        <%= task.name.downcase %>
                    <% end %>
                </div>  
            <% end %>
        <% end %>
</div>

<%= link_to @category, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@category.name}?" }, :id => "delete_category_link" do %>
    <i class="fa-regular fa-trash-can"></i>
<% end %>

