<header>
    <strong id="logo-span">Journ.io</strong>
    <% if Current.user %>
        <span id="header_vertical_line_span"> | </span> <span id="header_current_user_span"> <%= Current.user.name.split(" ")[0].capitalize %></span>
    <% end %>
    <nav>
        <ul>
        <li><%= link_to "Home", root_path, :class => "nav_link" %> </li>
        <% if Current.user %>
            <li><%= link_to "Dashboard", categories_path, :class => "nav_link" %></li>
            <li><%= link_to "Logout", logout_path, data: {"turbo_method": "delete"}, :class => "nav_link" %></li>
        <% else %>
            <li><%= link_to "Register", new_registration_path, :class => "nav_link" %> </li>
            <li><%= link_to "Login", new_sign_in_path, :class => "nav_link" %></li>
        <% end %>
        </ul>
    </nav>
</header>

